@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Bass Guitar 101</h1>
    <img src="~/rowofbasses.jpg" />
    <br />  
    <br />
    <p>
        Playing bass in is one of my favorite creative outlets. 
        There's something exhilarating about locking in with the drums, 
        driving the energy of the music, and feeling the raw power of a live performance. 
        Whether I’m jamming with the band, writing new riffs, or performing on stage, 
        playing bass is always a party.
    </p>
	<img src="~/stage.jpg" />
</div>
