@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @* heading introducing site *@
	<h1 class="display-4">Bass Guitar 101</h1>

    @* image 1 *@
    <img src="~/rowofbasses.jpg" />
    <br />  
    <br />
    <br />
    <br />
    <h2>It's time to rock!</h2>  
    @* paragraph 1 *@
    <p>
        Playing bass in is one of my favorite creative outlets. 
        There's something exhilarating about locking in with the drums, 
        driving the energy of the music, and feeling the raw power of a live performance. 
        Whether I’m jamming with the band, writing new riffs, or performing on stage, 
        playing bass is always a party.
    </p>

    @* image 2 *@
    <img src="~/stage.jpg" />
</div>
    @* paragraph 2 *@
    <p>
        Above is a recreation of my Squire brand bass. While the image is Ai generated, I
        was impressed by how well it rendered my description. 
        As far as my setup specs, I typically practice on a small Ibanez amp
        along with a Monster Cable. However, for performances my setup can vary widely.
    </p>
